@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans Thai", "Prompt", ui-sans-serif, system-ui, sans-serif;

  --color-brand-50: #eef6ff;
  --color-brand-100: #d9eaff;
  --color-brand-200: #bcdaff;
  --color-brand-300: #8ec2ff;
  --color-brand-400: #599fff;
  --color-brand-500: #337bff;
  --color-brand-600: #1b5cf5;
  --color-brand-700: #1548e1;
  --color-brand-800: #183db6;
  --color-brand-900: #19388f;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #0f172a;
  -webkit-font-smoothing: antialiased;
}
